a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  font-size:60px;
  color:white;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bg-img {
  background-image: url("../../assets/images/header.jpg");
  min-height: 125px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
